/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  height: 100vh;
  margin: 0;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.aligner-item {
  max-width: 50%;
}
